/* menum */
body{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif; 
}
nav ul{
    list-style:none;
    display:flex;
    padding:10px;
    margin:0;
    justify-content: flex-end;
    background-color: rgb(88, 87, 87);  
}
.logo{
    padding:10px;
    width:80%;
    margin-left: 10px;
    color:white;
    font-size:23px;
}
li{
    padding:6px;
    margin-top: 6px;
}
li a{
    padding:20px;
    text-decoration:none;
    font-size:18px;
    color:white;
    font-family:sans-serif;
}
a:hover{
    background: rgb(98, 98, 99);
    transition: 0.5s;
    border-radius: 25px;
}
input[type=button]{
    width:150px;
    background: rgb(123, 124, 123);
    color:white;
    font-size:30px;
    margin-top: 250px;
}


/* style about */
nav ul{
    list-style:none;
    display:flex;
    padding:10px;
    margin:0;
    justify-content: flex-end;
}
.logo{
    width:80%;
    justify-content: flex-start;
    font-family:"Baskerville Old Face";
    color:white;
    font-size:30px;
}
li{
    padding:10px;
}
li a{
    padding:20px;
    text-decoration:none;
    font-size:18px;
    color:white;
    text-transform:uppercase;
}
li a:hover{
    text-decoration:underline;
}
.about{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    row-gap:30px;
    column-gap:30px;
}
.main{
    width:100%;
    display:flex;
}
.box1{
    padding:10px;
    width:50%;
}
.box2{
    background:rgb(139, 138, 138);
    padding:15px;
    width:60%;
}
p{
    font-size:18px;
}
.content1{
    padding:10px;
    width:24%;
}
.content2{
    width:24%;
    padding:10px;
}
.content3{
    width:24%;
    padding:10px;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 22.5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #031e58;
    color: white;
    border-radius: 20px;
}
.fa-twitter {
    background: #0bb40b;
    color: white;
    border-radius: 20px;
}
.fa-google {
    background: #c90000;
    color: white;
    border-radius: 20px;
}
.fa-linkedin {
    background: #03a5ce;
    color: white;
    border-radius: 20px;
}


/* page model */
.text1{
    display: flex;
    margin-left: 40px;
}
.text2{
    display: flex;
    margin-left: 40px;
}
.top-ads .slider figure img{
  float: left;
  width: 100%;
  height: 450px;
}
.top-ads .slider{
  overflow: hidden;
}
.top-ads .slider figure div{
  float: left;
  width: 20%;
}
.top-ads .slider figure{
  position: relative;
  width: 500%;
  margin: 0px;
  left: 0;
  animation: 20s ravi infinite;
}
.row:after {
content: "";
display: table;
clear: both;
}
.column{
width: 875px;
}


/* price */
.slide-box .box1{
    width: 482px;
    height: 225px;
    background-color: rgb(95, 96, 97);
    position: relative;
}
.slide-box .box1 img{
    width: 483px;
    height: 240px;
    margin-top: 30px;
}
.text{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(82, 81, 81);
    color: white;
    padding: 11px;
    -webkit-clip-path:polygon(0 0,0 100%,100% 100%,100% 25%,75% 0);
    clip-path:polygon(0 0,0 100%,100% 100%,100% 100%,75% 0);
}
.title{
    bottom: 0px;
    left: 0px;
    width: 464px;
    background-color: rgba(104, 45, 45, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
}
.text3{
    background:  rgba(104, 45, 45, 0.5);
    padding:10px;
    width:55%;
    margin-left: 548px;
    margin-top: -565px;
    height: 580px;
}
.text4{
    background:  rgba(104, 45, 45, 0.5);
    padding:10px;
    width:55%;
    margin-left: 548px;
    margin-top: -1310px;
    height: 575px;
}


/* style conteact */
nav ul{
    list-style:none;
    display:flex;
    padding:10px;
    margin:0;
    justify-content: flex-end;
}
textarea{
    width:100%;
    box-sizing: border-box;
}
.logo{
    padding:10px;
    width:80%;
    justify-content: flex-start;
    font-family:"Baskerville Old Face";
    color:white;
    font-size:30px;
}
li{
    padding:10px;
}
li a{
    padding:20px;
    text-decoration:none;
    font-size:20px;
    color:white;
    font-family:sans-serif;
    text-transform:uppercase;
}
li a:hover{
    text-decoration:underline;
}
.col1{
    text-align: center;
    padding: 50px;
}
.col2{
    margin-left: 60px;
    margin-right: 60px;
}

.icon{
    text-align:center;
    margin-top:30px;
}
input[type=text],input[type="email"],input[type=number]{
    padding:10px;
    width:49%;
    box-sizing: border-box;
    margin-bottom:10px;
}
input[type=submit],input[type=reset]{
    padding:10px;
    width:49%;
    box-sizing: border-box;
    cursor: pointer;
    margin-top:8px;
    background: rgb(125, 125, 248);
    border:none;
}
a:hover{
    background: rgb(112, 110, 112);
    transition: 0.5s;
    border-radius: 25px;
}
h1{
    text-align:center;
}



@media(max-width:600px){
    li a{
        padding:10px;
        font-size:25px;
    }
    .logo{
        font-size:20px;
    }
    textarea{
        overflow:auto;
    }
    textarea{
        width:100%;
    }
    input[type=text],input[type=email],input[type=number],input[type=submit],input[type=reset]{
        width:100%;
    }

    Nav ul {
        display: block;
    }

    .text1 {
        display: block;
    }
    .text2 {
        display: block;
    }
    .container{
        display:flex;
        flex-direction:column;
    }
    .content1{
        width:100%;
    }
    .content2{
        width:100%;
    }
    .content3{
        width:100%;
    }
    .box{
        width:100%;
    }
    img{
        width:100%;
    }
    li a{
        padding:10px;
        font-size:13px;
    }
    .about-me{
        width:100%;
    }
    .main{
        display:flex;
        flex-wrap:wrap   
    }
    .box1{
        width:98%;
    }
    .box2{
        width:98%;
        margin-bottom:10px;
    }
    p{
        font-size:14px;
    }
    .top-ads{
        display:flex;
        flex-direction:column;
    }
    .mam{
        display: block;
    }
}

@keyframes ravi{
    0%{
  left: 0%;
    }
    10%{
  left: 0%;
    }
    12%{
  left: -100%;
    }
    22%{
  left: -100%;
    }
    24%{
  left: -200%;
    }
    34%{
  left: -200%;
    }
    36%{
  left: -300%;
    }
    46%{
  left: -300%;
    }
    48%{
  left: -400%;
    }
    58%{
  left: -400%;
    }
    60%{
  left: -300%;
    }
    70%{
  left: -300%;
    }
    72%{
  left: -200%;
    }
    82%{
  left: -200%;
    }
    84%{
  left: -100%;
    }
    94%{
  left: -100%;
    }
    96%{
  left: 0%;
    }
  }
  
  
  
  
  

  



